<footer class="footer">
  <div class="container">
    <img src="/_assets/img/logo-small.png" alt="" class="footer__logo" width="50" height="62">
    <p class="footer__name">{{ site.name }}</p>
    <p class="footer__address">{{ site.address.street }}, {{ site.address.postalCode }} {{ site.address.city }}</p>
    <p class="footer__phone"><a href="tel:{{ site.phoneIntl }}">{{ site.phone }}</a></p>
    <nav class="footer__social" aria-label="Sociale medier">
      <a href="{{ site.instagram }}" rel="noopener" target="_blank" aria-label="Instagram">Instagram</a>
      <a href="{{ site.facebook }}" rel="noopener" target="_blank" aria-label="Facebook">Facebook</a>
    </nav>
    <p class="footer__copyright">© {{ "now" | date('%Y') }} {{ site.name }}</p>
  </div>
</footer>
