<section class="hours">
  <div class="container">
    <h2>Åbningstider</h2>
    <table class="hours__table">
      <tr><th>Mandag</th><td>{{ site.hours.monday }}</td></tr>
      <tr><th>Tirsdag</th><td>{{ site.hours.tuesday }}</td></tr>
      <tr><th>Onsdag</th><td>{{ site.hours.wednesday }}</td></tr>
      <tr><th>Torsdag</th><td>{{ site.hours.thursday }}</td></tr>
      <tr><th>Fredag</th><td>{{ site.hours.friday }}</td></tr>
      <tr><th>Lørdag</th><td>{{ site.hours.saturday }}</td></tr>
      <tr><th>Søndag</th><td>{{ site.hours.sunday }}</td></tr>
    </table>
  </div>
</section>
