<section class="locations">
  <div class="container">
    <h2>Hvor finder du os</h2>
    <address class="location">
      <strong>{{ site.address.street }}</strong><br>
      {{ site.address.postalCode }} {{ site.address.city }}<br>
      <a href="{{ site.address.mapsUrl }}" rel="noopener" target="_blank">Vis på kort →</a>
    </address>
  </div>
</section>
